 body
 
 .fbox{
 	text-align: center;
 }
 .fbox span {
 	font-size:60px;
 }
 .jumbotron{
 	text-align: center;
 }
 .footer{
 	text-align: center;
 }
 .carousel-inner > .item > img {
    margin: 0 auto;
}
.container > img {
 width: 100%;
 min-height: 100px;
 height: 100px;
  left: 0;
}
.container > .row {
 margin-top: 10px;
}
.img-responsive {
	width: 300px;
	height: 100px;
}
.container > .table {
	background-color: red;
 }
 